@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-top-bounce {
  0% {
    opacity: 0;

    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    scale: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    scale: 1;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes slide-top {
  from {
    opacity: 0;
    scale: 1;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
